orgs
<ul>
  <li *ngFor="let org of env.orgs"><a href="javascript:void(0)" (click)="env.setSelectedOrg(org)">{{org.name}}</a></li>
</ul>
personal
<ul>
  <li *ngFor="let work of env.userWorkList">
    <a [routerLink]="['/work', work.workID]">[{{work.workID}}] {{work.title}}</a>
    <ul>
      <li *ngFor="let childWork of work.children">
        <a [routerLink]="['/work', childWork.workID]">[{{childWork.workID}}] {{childWork.title}}</a>
      </li>
    </ul>
  </li>
</ul>
<p>Selected Org: {{env.selectedOrg.name}}</p>
<p>Selected WorkID: [{{env.selectedWork.workID}}] {{env.selectedWork.title}}</p>
