

.lightgreen{
  background-color: lightgreen;
}

.green{
  background-color: green;
}

.darkgreen{
  background-color: darkgreen;
}

.lightred{
  background-color: salmon;
}

.red{
  background-color: red;
}

.darkred{
  background-color: darkred;
}

.lightblue{
  background-color: lightblue;
}

.blue{
  background-color: blue;
}

.darkblue{
  background-color: darkblue;
}

.lightyellow{
  background-color: lightyellow;
}

.yellow{
  background-color: yellow;
}

.darkyellow{
  background-color: gold;
}

.lightviolet{
  background-color: lavender;
}

.violet{
  background-color: violet;
}

.darkviolet{
  background-color: indigo;
}

.lightgray{
  background-color: lightgray;
}

.gray{
  background-color: gray;
}

.darkgray{
  background-color: slategray;
}

.lightorange{
  background-color: coral;
}

.orange{
  background-color: orange;
}

.darkorange{
  background-color: darkorange;
}
