Title {{currentWork.title}}<br />
parentWorkID {{currentWork.parentWorkID}}<br />
description {{currentWork.description}}<br />
optionMap {{currentWork.optionMap}}<br />
modelType {{currentWork.modelType}}<br />
orgName: {{currentWork.orgName}}<br />
workID: {{currentWork.workID}}<br />
orgID: {{currentWork.orgID}}<br />
owner: {{currentWork.owner}}<br />
size: {{currentWork.size}}<br />
priority: {{currentWork.priority}}<br />
hoursWorked: {{currentWork.hoursWorked}}<br />
startDate: {{currentWork.startDate}}<br />
completeDate: {{currentWork.completeDate}}<br />
status: {{currentWork.status}}<br />
