<div class="row">
  <div class="col-md-10">
    <ol class="breadcrumb">
      <li *ngFor="let crumb of crumbTrail" class="active">
        <a [routerLink]="['/work', crumb.workID]">
        [{{crumb.workID}}] {{crumb.title}}</a>
      </li>
    </ol>
    <h3>
      [{{currentWork.workID}}] {{currentWork.title}}
      <span class="label label-default" *ngFor="let tag of currentWork.tags">{{tag.name}}</span>
    </h3>
  </div>
  <div class="col-md-2" *ngIf="currentWork.owner != null">
    <img [src]="currentWork.owner.picture" width="50" height="50" /> owner: {{currentWork.owner.nickname}} status: {{currentWork.status}}
  </div>
</div>
<div class="row">
  <div class="col-md-2" *ngIf="currentWork.children && currentWork.children.length > 0">
    <!-- Tab pane headers -->
    <ul class="nav nav-tabs">
      <li [class.active]="showActive"><a href="javascript:void(0)" (click)="showActive = true">Active</a></li>
      <li [class.active]="!showActive"><a href="javascript:void(0)" (click)="showActive = false">Complete</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" [class.active]="showActive">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let child of activeChildren">
            <span class="badge">{{child.workID}}</span> {{child.title}}
          </li>
        </ul>
      </div>
      <div class="tab-pane" [class.active]="!showActive">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let child of inactiveChildren">
            <span class="badge">{{child.workID}}</span> {{child.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-8">
        <div>Description:{{currentWork.description}}</div>
        <div>size: {{currentWork.size}}</div>
        <div>priority: {{currentWork.priority}}</div>
        <div>hoursWorked: {{currentWork.hoursWorked}}</div>
        <div>dueDate: {{currentWork.completeDate}}</div>
        <div>Tags</div>
        <div *ngFor="let tag of tags">
          <button class="btn btn-primary" [ngClass]="tag.color" type="button">
            {{tag.title}} <span *ngIf="tag.value != null" class="badge">{{tag.value}}</span>
          </button>
        </div>
        <div>Tickets {{tickets.length}}</div>
      </div>
      <div class="col-md-4">
        Message Board <i class="fa fa-star-o" aria-hidden="true"></i>
        <div class="day-container" *ngFor="let chatGroup of workChatDateGroups">
          <div class="day">{{chatGroup.date | date:'fullDate'}}</div>
          <div class="message-container" *ngFor="let workchat of chatGroup.chatList">
            <img [src]="workchat.member.picture" width="50" height="50" />
            <div>{{workchat.message}}</div>
          </div>
        </div>
        <div class="newMessage-container"  *ngIf="env.userLoaded">
          <img [src]="env.user.picture" width="50" height="50" />
          <textarea></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
