@{
    Layout = null;
}

<script>
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"), results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    alert(getParameterByName('state'));

    uri = window.location.protocol + '//' + window.location.hostname + ':5000/api/auth/' + getParameterByName('state') + '/code';
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", uri, true);
    xmlhttp.send();
    window.open('', '_self', '');
    window.close();
</script>

<h1>Login Complete.</h1>
<h2>You can close this window if it does not close on it's own.</h2>
