orgs
<ul>
  <li *ngFor="let org of env.orgs"><a href="javascript:void(0)" (click)="env.setSelectedOrg(org)">{{org.name}}</a></li>
</ul>
personal
<div class="list-group">
  <a class="list-group-item" *ngFor="let work of env.userWorkList" [routerLink]="['/work', work.workID]">
    <h4 class="list-group-item-heading">[{{work.workID}}] {{work.title}}</h4>
    <div class="list-group">
      <a [routerLink]="['/work', childWork.workID]" class="list-group-item" *ngFor="let childWork of work.children">
        [{{childWork.workID}}] {{childWork.title}}
      </a>
    </div>
  </a>
</div>
<p *ngIf="env.selectedObj != null">Selected Object Type: {{env.selectedObj.modelType}}</p>
